<% if concerts and concerts.size > 0 %>
  <% concerts.each do |concert| %>
    <div class="concert">
      <div class="header">
        <div class="calendar" title="<%= concert.date.strftime('%d/%m/%Y') %>">
          <div class="top"><%= I18n.localize(concert.date, :format => :really_short) %></div>
          <%= concert.date.day %>
        </div>
        <span class="title"><%= concert.name %></span>
        <div>
          <%= "#{concert.city}/#{concert.region} - #{concert.country.name}"%>
        </div>
      </div>

      <div class="details">
        <%=h truncate(concert.details, :length => 170) %>
      </div>

      <div class="more">
        <%= link_to t('band_manager.site.session.concerts.more'), :controller => :site, :action => :show_concert, :concert_id => concert.id %>
      </div>  
    </div>
  <% end %>
  <div style="clear: both;"></div>
<% else %>
  <center>
    <em>Nenhum show previsto</em>
  </center>
<% end %>
