<% if songs and songs.size > 0 %>
  <table>
  <% songs.each do |song| %>
    <tr>
      <td>
        <%= song.track_number %> - 
      </td>
      
      <td>    
        <% if song.lyrics and song.lyrics.length > 0 %>
          <%= link_to song.title, :controller => :site, :action => :show_song, :song_id => song.id %>
        <% else %>
          <%= song.title %>
        <% end %>
      </td>
      
      <td>
        <% if song.time and not song.time.empty? %>
         &nbsp;(<%= song.time %>)
        <% end %>
      </td>
      
      <td>
        <% if song.audio.exists? %>
          | <%= link_to 'Download', song.audio.url %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <center>
    <em>
      Nenhuma música encontrada.
    </em>
  </center>
<% end %>
