<div style="width: 49%; float: right; margin: 3px;">
  <!-- POSTS -->
  <div id="posts" class="session" name="posts" >
    <h1><%= t('band_manager.site.session.news.title') %></h1>
    <div class="all posts_icon right">
      <%= link_to t('band_manager.site.session.news.all'), 
            :controller => :site, :action => :posts %>
    </div>

    <%= render :partial => 'posts_list', :locals => {:posts => @band.last_posts(5), :text_length => 200}%>
  </div>

  <!-- CONCERTS -->
  <div id="concerts" class="session" name="concerts">
    <h1><%= t('band_manager.site.session.concerts.upcoming') %></h1>
    <div class="all concerts_icon right">
      <%= link_to t('band_manager.site.session.concerts.all'), 
            :controller => :site, :action => :concerts %>
    </div>

    <%= render :partial => 'concerts_list', :locals => {:band => @band, :concerts => @band.upcoming_concerts}%>
  </div>

  <!-- RELEASES -->
  <div id="releases" class="session" name="releases">
    <h1><%= t('band_manager.site.session.releases.title') %></h1>
    <%= render :partial => 'releases_list', :locals => {:releases => @band.releases}%>
  </div>
</div>

<div style="width: 49%; float: right; margin: 3px;">
  <!-- PLAYER -->
  <% if @band.has_attached_songs? %>
      <%= play_audio(load_playlists_path(:id => @band.id), true, "/swf/xspf_player.swf", 420, 153) %>

      <div id="player" class="session">
        <div id="flash_content" ></div>
      </div>
  <% end %>

  <!-- CONTACTS -->
  <div id="contacts" class="session" name="contacts" >
    <h1><%= t('band_manager.site.session.contacts.title') %></h1>
    <%= render :partial => "contacts" %>
  </div>

  <!-- ABOUT -->
  <div id="about" class="session" name="about">
    <h1><%= t('band_manager.site.session.about') %> <%= @band.name %></h1>
    <div class="content">
      <%= @band.about %>
    </div>
  </div>
</div>

<div style="clear: both;"/>

