<div class="single_post">
    <h1>
      <%=h @post.title %> -
      <span class="date">
        <%=h  I18n.localize(@post.created_at.to_date) %>
      </span>
    </h1>
  <div><%= @post.content %></div>
</div>

<div class="voltar" >
  <%= link_to t('band_manager.site.back'), { :controller => :site, :action => :index }, :class => 'all back_icon' %> | 
  <%= link_to t('band_manager.site.session.news.all'), { :controller => :site, :action => :posts }, :class => 'all posts_icon' %>
</div>
