<div class="single_post">
    <h1>
      <%=h @post.title %> -
      <span class="date">
        <%=h @post.created_at.strftime("%d/%m/%Y") %>
      </span>
    </h1>
  <div><%= @post.content %></div>
</div>

<div class="voltar" >
  <%= link_to 'Voltar', { :controller => :site, :action => :index }, :class => 'all back_icon' %> | 
  <%= link_to 'Ver todas as notícias', { :controller => :site, :action => :posts }, :class => 'all posts_icon' %>
</div>
