<% if songs and songs.size > 0 %>
  <ul>
  <% songs.each do |song| %>
      <li>
        <%= song.track_number %> - 
        <%= song.title %>
        
        <% if song.time and not song.time.empty? %>
         &nbsp;(<%= song.time %>)
        <% end %>
        
        <% if song.lyrics and song.lyrics.length > 0 %>
          | <%= link_to "Ler letra", band_release_song_path(song.release.band, song.release, song) %>
        <% end %>
        
        | <%=link_to "Editar", edit_band_release_song_path(@band, song.release, song)%>
      </li>
  <% end %>
  </ul>
<% else %>
  <center>
    <em>
      Nenhuma música encontrada.
    </em>
  </center>
<% end %>
