<% form_for(@band, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <table class="form">
    <tr>
      <td>
        <%= field_label "band.name" %><br />
        <%= f.text_field :name %>
      </td>
      <td>
        <%= field_label "band.genre" %><br />
        <%= f.select :genre_id, @genres.map{|genre| [genre.title, genre.id] }, 
				             :include_blank => '-- escolha o estilo --' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= field_label "band.city" %><br />
        <%= f.text_field :city %>
      </td>
      <td>
        <%= field_label "band.country" %><br />
        <% if @countries %>
          <%= f.select :country_id, @countries.map{|country| [country.name, country.id] }, 
			                 :include_blank => '-- escolha o país --',
			                 :escape => :false %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <%= field_label "band.year" %><br />
        <%= f.text_field :year, :size => 10, :maxlength => 4, :class => "mask-num" %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= field_label "band.about" %><br />
        <%= f.text_area :about, :cols => 60 %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= field_label "band.logo" %><br />
        
        <% if @band.logo %>
          <%= link_to("Logo atual", @band.logo.public_filename) %> | 
          <%= link_to("Remover logo", 
                { :controller => "bands", 
                  :action => "destroy_logo", 
                  :id => @band, 
                 }, :method => :post) 
          %>
          <br />
        <% end %>
         
        <%= file_field :logo, :uploaded_data %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= field_label "band.picture" %><br />
        
        <% if @band.picture %>
          <%= link_to("Foto atual", @band.picture.public_filename) %> | 
          <%= link_to("Remover foto", 
                { :controller => "bands", 
                  :action => "destroy_picture", 
                  :id => @band, 
                 }, :method => :post) 
          %>
          <br />
        <% end %>
         
        <%= file_field :picture, :uploaded_data %>
      </td>
  </table>

  <p>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
