<h1>Bandas</h1>

<script type="text/javascript">
					$(document).ready(function(){
					  
				$("#content").corner(); 
			
					});
</script>


<%= link_to 'Cadastrar uma nova banda', new_band_path, :style => "float: right;" %>

<br/>
<br/>

<div class="content" id="content">
  <% @bands.each_with_index do |band, index| %>
    <div class="banda">
      <h2>
        <%= link_to band.name, band %>
      </h2>
      
      <strong>Estilo:</strong> <%= band.genre.title %> <br/>    
      <strong>Localização:</strong> <%= band.city %>/<%= band.country.name %>
      
      <p>
        <%= band.about %>      
      </p>
    </div>
  <% end %>
</div>

