<%= corner "content" %>
<h1>Bandas</h1>

<div class="direita">
  <%= link_to 'Cadastrar uma nova banda', new_band_path %>
</div>

<br/>

<div class="content" id="content">
  <% if @bands.size > 0 %>
    <% @bands.each_with_index do |band, index| %>
      <div class="banda">
        <h2>
          <%= link_to band.name, band %>
        </h2>
      
        <div class="sobre">
          <% if band.picture %>
            <%= link_to image_tag(band.picture.public_filename(:thumb), :align => :left), 
                        band_path(band) %>
          <% end %>
          
          <%= field_label "band.genre" %>
          <%=h band.genre.title %><br />
          
          <%= field_label "band.origin" %>
          <%=h band.city %>/<%=h band.country.name %><br />

          <%= field_label "band.year" %>
          <%=h band.year %><br />
          
          <span style="text-align: justify;">
            <%=truncate(simple_format(h band.about), :length => 500) %> 
            <%= link_to "(ler mais)", band_path(band)%>
          </span>
        </div>
        <div style="clear: both"></div>
        
        <br />
      </div>
    <% end %>
  <% else %>
    <center>
      <em>Nenhuma banda encontrada.</em>
    </center>
  <% end %>
</div>

