<p>
  <b>Name:</b>
  <%=h @band.name %>
</p>

<p>
  <b>Genre:</b>
  <%=h @band.genre.title %>
</p>

<p>
  <b>Year:</b>
  <%=h @band.year %>
</p>

<p>
  <b>City:</b>
  <%=h @band.city %>
</p>

<p>
  <b>Country:</b>
  <%=h @band.country.name %>
</p>

<p>
  <b>About:</b>
  <%=h @band.about %>
</p>


<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
