<%= corner "content"%>

<h1><%= @band.name %></h1>

<div class="content detalhes" id="content">
  
  <% if @band.logo.exists? %>
    <div class="logo center">
      <%= image_tag @band.logo.url(:normal) %>
    </div>
  <% end %>

  <br/>

  <% if @band.photo.exists? %>
    <%= image_tag @band.photo.url(:normal), :align => 'left', :class => 'photo' %>
  <% end %>

  
  <div class="sobre">
    <%= field_label "band.genre" %>
    <%=h @band.genre.title %><br/>
  
    <%= field_label "band.origin" %>
    <%=h @band.city %>/<%=h @band.country.name %><br/>

    <%= field_label "band.year" %>
    <%=h @band.year %><br/>
    
    <div style="text-align: justify;"><%=simple_format @band.about %></div>
  </div>
  <div style="clear: both"></div>
  
  <br />
  
  <div class="opcoes">
    <%= link_to 'Editar', edit_band_path(@band) %> |
    <%= link_to 'Remover', @band, :confirm => 'Você tem certeza?', :method => :delete %>
  </div>
  
  <br />
  
  <h2>Lançamentos</h2>
  
  <div class="direita">
    <%= link_to 'Cadastrar um novo lançamento', new_band_release_path(@band) %>
  </div>
  
  <%= render :partial => 'releases/list', :locals => {:releases => @band.releases}%>

  <br />
  
    
</div>

<br/>
<div class="opcoes centro">
  <%= link_to 'Voltar', bands_path %>
</div>

