<%= corner "content"%>

<h1><%= @band.name %></h1>

<div class="content detalhes" id="content">

  <% if @band.logo %>
    <div style="text-align: center;">
      <%= image_tag @band.logo.public_filename %>  
    </div>
  <% end %>
  
  <div class="sobre">
    <% if @band.picture %>
      <%= image_tag(@band.picture.public_filename, :align => :left) %>
    <% end %>
    
    <%= field_label "band.genre" %>
    <%=h @band.genre.title %><br/>
  
    <%= field_label "band.origin" %>
    <%=h @band.city %>/<%=h @band.country.name %><br/>

    <%= field_label "band.year" %>
    <%=h @band.year %><br/>
    
    <p style="text-align: justify;"><%=simple_format @band.about %></p>
  </div>
  <div style="clear: both"></div>
  
  <div class="opcoes">
    <%= link_to 'Editar', edit_band_path(@band) %> |
    <%= link_to 'Remover', @band, :confirm => 'Você tem certeza?', :method => :delete %>
  </div>  
</div>

<br/>
<div class="opcoes centro">
  <%= link_to 'Voltar', bands_path %>
</div>

