<%= corner "content"%>

<h1><%= @band.name %></h1>

<div class="content detalhes" id="content">
  <p>
    <%= field_label "band.genre" %>
    <%=h @band.genre.title %>
  </p>
  
  <p>
    <%= field_label "band.origin" %>
    <%=h @band.city %>/<%=h @band.country.name %>
  </p>

   <p>
    <%= field_label "band.year" %>
    <%=h @band.year %>
  </p>
  
  <p>
    <%= field_label "band.about" %>
    <%=h @band.about %>
  </p>
  
  <div class="opcoes">
    <%= link_to 'Editar', edit_band_path(@band) %> |
    <%= link_to 'Remover', @band, :confirm => 'Você tem certeza?', :method => :delete %>
  </div>  
</div>

<br/>
<div class="opcoes centro">
  <%= link_to 'Voltar', bands_path %>
</div>

