<% form_for([@band, @release, @song, @song_file], :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <table class="form">
    <tr>
      <td colspan="2">
        <%= field_label "song.file" %><br />
        
        <% if @song.file and not @song.file.new_record? %>  
          <%= link_to @song_file.short_filename, @song_file.public_filename %> | 
          <%= link_to "Remover arquivo",{ 
              :controller => "song_files", 
              :action => "destroy", 
              :id => @song_file.to_param
              },
              {:method => :delete}
          %>
          <br />
        <% end %>
        
        <%= f.file_field :uploaded_data %>
      </td>
    </tr>
  </table>

  <br />
  <%= f.submit 'Upload' %>
<% end %>
