<%= error_messages_for :band %>

<% form_tag({ :controller => :custom_style, :action => :preview }) do %>
  <%= hidden_field_tag :id, @band.id %>
  <table class="form" width ="90%">
    <tr>
      <td>
        <%= label_tag "Estilo da página principal:" %><br />
        <%= text_area :band, :custom_style %><br/>
      </td>
    </tr>
  </table>

  <p>
    <%= submit_tag 'Pre-vizualizar' %>
  </p>
<% end %>
