<%= error_messages_for :band %>

<% form_tag("/admin/custom_style/preview") do %>
  <%= hidden_field_tag :id, @band.id %>
  <table class="form" width ="90%">
    <tr>
      <td>
        <%= label_tag "Estilo da página principal:" %><br />
        <%= text_area_tag :custom_style, @band.custom_style, {:rows => 20} %><br/>
      </td>
    </tr>
  </table>

  <p>
    <%= submit_tag 'Pre-vizualizar' %>
    <input type='button' value="Preview" onclick="doPreview();" >
  </p>
<% end %>

<script type="text/javascript">
  function handle_response(data){
    $("#preview").html(data)
  }
  
  function doPreview() {
    $.ajax({
      type: "POST",
      data: ({id:<%= @band.id %>}),
      url: "/admin/custom_style/preview",
      dataType: "html",
      success: handle_response
    });
  }
</script>

<div id="preview">
</div>
