<h1>Novo País</h1>

<% form_for([:admin, @country]) do |f| %>
<%= f.error_messages %>
<table class="form">
  <tr>
    <td>
      <%= field_label "country.name" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.text_field :name %>
    </td>
  </tr>
</table>

<br/>

<%= f.submit 'Salvar' %>
<% end %>

<br/> 
<%= link_to 'Voltar', admin_countries_path %>


