<% if posts and posts.size > 0 %>
  <% posts.each do |post| %>
    <div class="post">
      <div class="title">
        <%=h post.title %> -
        <span class="date">
          <%=h post.created_at.strftime("%d/%m/%Y") %>
        </span>
      </div>

      <div class="content"><%= truncate(strip_html(post.content), :length => text_length) %></div>
      <div class="more">
        <% if user_signed_in? %>
          | <%= link_to 'Editar', edit_admin_band_post_path(@band, post) %> 
          | <%= link_to 'Excluir', admin_band_post_path(@band, post), :confirm => 'Você tem certeza?', :method => :delete %> 
          | 
        <% end %>
        <%= link_to 'Ler mais', :controller => '/site', :action => :show_post, :post_id => post.id %>
      </div> 
    </div>
  <% end %>
  <div style="clear: both"></div>
  <br/>
  <%= will_paginate posts, :params => {:anchor => 'posts'} %>
<% else %>
  <center>
    <em>Nenhum post cadastrado</em>
  </center>
<% end %>
