<div id="header-wrapper">
	<div id="header">
		<div id="menu">

			<ul>
				<li class="<%= check_tab "bands" %>">
				  <%= link_to "Bandas", bands_path %>
				</li>
				
				<li class="<%= check_tab "genres" %>">
				  <%= link_to "Gêneros", genres_path %>
				</li>
				
				<li class="<%= check_tab "countries" %>">
				  <%= link_to "Países", countries_path %>
				</li>
				
				<li><a href="#">Blog</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
		<!-- end #menu -->
		
		<div id="user">
			<a href="#">Editar perfil</a> | 
			<a href="#">Sair</a>
		</div>
	</div>
	<!-- end #header -->
</div>
<!-- end #header-wrapper -->
