<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Band Manager: <%= controller_name %> - <%= controller.action_name %></title>
  
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'jquery.corner',
      'jquery.maskedinput-1.2.2', 'jquery.keyfilter-1.7', 'ckeditor/ckeditor',
      'swfobject.js', 'geral.js' 
  %>
  
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'ui-lightness/jquery-ui.css' %>
</head>


<body>
	<div id="principal">
		<div id="cabecalho">
		  <%= render :partial => "layouts/cabecalho" %>
		</div>
		
		<div id="page">
		  <% if flash[:notice] %>
		    <div id="success">
		      <span class="success">
            <%= t flash[:notice] %>
		      </span>
		    </div>
		  <% end %>
		  
		  <% if flash[:error] %>
		    <div id="error">
		      <span class="error">
            <%= t flash[:error] %>
		      </span>
		    </div>
		  <% end %>
		  
		  <% if flash[:alert] %>
		    <div id="alert">
		      <span class="alert">
            <%= t flash[:alert] %>
		      </span>
		    </div>
		  <% end %>
		  
      <%= yield %>
		</div>
	</div>
</body>


</html>
