<% form_for([@band, @band_logo], :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <table class="form">
    <tr>
      <td colspan="2">
        <%= field_label "band.logo" %><br />
        
        <% if @band.logo and not @band.logo.new_record? %>  
          <%= link_to @band_logo.short_filename, @band_logo.public_filename %> | 
          <%= link_to "Remover arquivo",{ 
              :controller => "band_logos", 
              :action => "destroy", 
              :id => @band_logo.to_param
              },
              {:method => :delete}
          %>
          <br />
        <% end %>
        
        <%= f.file_field :uploaded_data %>
      </td>
    </tr>
  </table>

  <br />
  <%= f.submit 'Upload' %>
<% end %>
