<% posts.each do |post| %>
  <div class="post">
    <div class="title">
      <%=h post.title %> -
      <span class="date">
        <%=h post.created_at.strftime("%d/%m/%Y") %>
      </span>
    </div>
      
    <div class="content"><%= truncate(strip_html(post.content), :length => 200) %></div>
    <div class="more">
      | <%= link_to 'Editar', edit_band_post_path(@band, post) %> 
      | <%= link_to 'Excluir', band_post_path(@band, post), :confirm => 'Você tem certeza?', :method => :delete %> 
      | <%= link_to 'Ler mais', band_post_path(@band, post) %>
    </div> 
  </div>
<% end %>
<div style="clear: both"></div>
