<% if concerts and concerts.size > 0 %>
  <% concerts.each do |concert| %>
    <div class="concert">
      <div class="calendar" title="<%= concert.date.strftime('%d/%m/%Y') %>">
        <div class="top"><%= concert.date.month %></div>
        <%= concert.date.day %>
      </div>
      <span class="title"><%= concert.name %></span>
      <br/>
      <%= "#{concert.city}/#{concert.region} - #{concert.country}"%>
      <br/>
      <%= truncate(simple_format(h concert.details), :length => 100) %> 
    </div>
  <% end %>
<% else %>
  <em>Nenhum show cadastrado</em>
<% end %>

<div style="clear: both;"></div>

