<% form_for([@band, @release], :html => {:multipart => true}) do |f| %> 
  <%= f.error_messages %>

  <table class="form">
    <tr>
      <td>
        <%= field_label "release.title" %><br />
        <%= f.text_field :title %>
      </td>
      <td>
        <%= field_label "release.year" %><br />
        <%= f.text_field :year, :size => 10, :maxlength => 4, :class => "mask-num" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= field_label "release.type" %><br />
        <%= f.select :type_id, @types.map{|type| [type.title, type.id] }, 
				             :include_blank => '-- escolha o tipo --' %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= f.label "Detalhes (Português)" %><br />
        <%= f.text_area :details_pt_BR, :cols => 52 %><br/><br/>
        
        <%= f.label "Detalhes (English)" %><br />
        <%= f.text_area :details_en, :cols => 52 %><br/><br/>
        
        <%= f.label "Detalhes (Español)" %><br />
        <%= f.text_area :details_es, :cols => 52 %><br/><br/>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= field_label "release.cover" %><br />
        <%= f.file_field :cover %>
         | 
        <% if @release.cover.exists? %>
          <%= link_to 'Vizualizar capa', @release.cover.url(:normal) %>
        <% else %>
          <em>Nenhuma capa adicionada</em>
        <% end %>
      </td>
    </tr>
  </table>
  <br />
  <%= f.submit 'Salvar' %>
  </p>
<% end %>
