<p>
  <b>Title:</b>
  <%=h @release.title %>
</p>

<p>
  <b>Year:</b>
  <%=h @release.year %>
</p>

<p>
  <b>Details:</b>
  <%=h @release.details %>
</p>


<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>