<% form_for([:admin,@band], :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <table class="form">
    <tr>
      <td>
        <%= field_label "band.name" %><br />
        <%= f.text_field :name %>
      </td>
      <td>
        <%= field_label "band.screen_name", 
          :title => 'Nome a ser utilizado como identificador único da banda' %>
        <br />
        <%= f.text_field :screen_name %>
      </td>
      <td>
        <%= field_label "band.genre" %><br />
        <%= f.select :genre_id, @genres.map{|genre| [genre.title, genre.id] }, 
				             :include_blank => '-- escolha o estilo --' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= field_label "band.city" %><br />
        <%= f.text_field :city %>
      </td>
      <td>
        <%= field_label "band.country" %><br />
        <% if @countries %>
          <%= f.select :country_id, @countries.map{|country| [country.name, country.id] }, 
			                 :include_blank => '-- escolha o país --',
			                 :escape => :false %>
        <% end %>
      </td>
      <td>
        <%= field_label "band.year" %><br />
        <%= f.text_field :year, :size => 10, :maxlength => 4, :class => "mask-num" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= field_label "band.email" %><br />
        <%= f.text_field :email %>
      </td>
      <td>
        <%= field_label "band.telephone" %><br />
        <%= f.text_field :telephone, :maxlength => 15 %>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <%= field_label "band.address" %><br />
        <%= f.text_field :address, :style => "width: 95%;" %>
      </td>
    <tr>
    <tr>
      <td colspan="3">
        <%= f.label "Sobre (Português)" %><br />
        <%= text_area :band, :about_pt_BR, :class => 'ckeditor' %><br/>

        <%= f.label "Sobre (English)" %><br />
        <%= text_area :band, :about_en, :class => 'ckeditor' %><br/>
        
        <%= f.label "Sobre Español" %><br />
        <%= text_area :band, :about_es, :class => 'ckeditor' %><br/>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <%= field_label "band.logo" %><br />
        <%= f.file_field :logo %>
         | 
        <% if @band.logo.exists? %>
          <%= link_to 'Vizualizar logo', @band.logo.url(:normal) %>
        <% else %>
          <em>Nenhum logo adicionado</em>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <%= field_label "band.photo" %><br />
        <%= f.file_field :photo %>
         | 
        <% if @band.photo.exists? %>
          <%= link_to 'Vizualizar foto', @band.photo.url(:normal) %>
        <% else %>
          <em>Nenhuma foto adicionada</em>
        <% end %>
      </td>
    </tr>
  </table>

  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
