<h1>Novo Gênero</h1>

<% form_for([:admin, @genre]) do |f| %>
  <%= f.error_messages %>

  <table class="form">
    <tr>
      <td>
        <%= field_label "genre.title" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.text_field :title %>
      </td>
    </tr>
  </table>
  
  <br/>
  
  <%= f.submit 'Salvar' %>
<% end %>

<br/>

<%= link_to 'Voltar', admin_genres_path %>
