<%= mask :date => "99/99/9999" %>
<%= datepicker :date %>

<% form_for([:admin, @band, @concert], :html => {:multipart => true}) do |f| %>
  
  <%= f.error_messages %>

  <table class="form">
    <tr>
      <td>
        <%= field_label 'concert.name' %><br />
        <%= f.text_field :name %>
      </td>
      <td>
        <%= field_label 'concert.date' %><br />
        <%= f.text_field :date_str, :id => 'date' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= field_label 'concert.city' %><br />
        <%= f.text_field :city %>
      </td>
      <td>
        <%= field_label 'concert.region' %><br />
        <%= f.text_field :region %>
      </td>
    </tr>
    <tr>
      <td>
        <%= field_label "concert.country" %><br />
        <% if @countries %>
          <%= f.select :country_id, @countries.map{|country| [country.name, country.id] }, 
			                 :include_blank => '-- escolha o país --',
			                 :escape => :false %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= f.label "Detalhes (Português)" %><br />
        <%= f.text_area :details_pt_BR, :cols => 60, :rows => 12 %><br/><br/>
        
        <%= f.label "Detalhes (English)" %><br />
        <%= f.text_area :details_en, :cols => 60, :rows => 12 %><br/><br/>
        
        <%= f.label "Detalhes (Español)" %><br />
        <%= f.text_area :details_es, :cols => 60, :rows => 12 %><br/><br/>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= field_label "concert.flyer" %><br />
        <%= f.file_field :flyer %>
         | 
        <% if @concert.flyer.exists? %>
          <%= link_to 'Vizualizar flyer', @concert.flyer.url(:normal) %>
        <% else %>
          <em>Nenhum flyer adicionado</em>
        <% end %>
      </td>
    </tr>
  </table>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
